<header class="header">
  <div class="header__block">
    <img class="header__logo" src="../../../../assets/Log.png" alt="Lgo" height="41" width="116"/>
    <div class="header__search">
      <a href="#"><img src="../../../../assets/fa-search.png" height="11" width="11"/></a>
      <input class="search__input" type="search" name="search" placeholder="Try find somethink">
    </div>
  </div>
  <div class="header__user-block">
    <div class="user-block__wrap">
      <div class="user-block__avatar">
        <img src="../../../../assets/kim_evans_44.jpg" height="44" width="44"/>
      </div>
      <div class="user-block__name">Kim Evans</div>
    </div>
    <a href="#"><img src="../../../../assets/fa-sign-out.png" height="22" width="27"/></a>
  </div>
</header>
