<header class="header">
  <div class="header__block">
    <img class="header__logo" src="../../assets/Log.png" alt="Lgo" />
    <div class="header__search">
      <a href="#"><img src="../../assets/fa-search.png" height="11" width="11"/></a>
      <input class="search__input" type="search" name="search" placeholder="Try find somethink">
    </div>
  </div>
  <div class="header__authorization">
    <div class="authorization__welcome">
      Welcome, <a href="#">login</a> or <a href="#">register</a> for start!
    </div>
    <img src="../../assets/Logo_white.png" alt="logo">
    <form class="authorization__form" action="#">
      <div class="form__block-button">
        <input type="button" value="Sign In" name="sign in">
        <input type="button" value="Sign Up" name="sign up">
      </div>
      <div class="form__block-login">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="button" value="Login" name="login">
      </div>
    </form>
  </div>
</header>

<app-footer></app-footer>
