/* You can add global styles to this file, and also import other style files */
$color: #00b3be;
$colorSecond: #91d763;
$colorLink:#4a4a4a;
//---mixin---
.button {
  border: none;
  background: #f2f2f2;
  color: $colorLink;
  line-height: 35px;
  &:hover, &:active {
    border-bottom: 3px solid $colorSecond;
    box-sizing: border-box;
    height: 35px;
  }
}

.header {
  width: 100%;
  height: 975px;
  display: flex;
  justify-content: space-between;
  background-color: $color;
  @media screen and (max-width: 740px) {
    flex-direction: column;
    justify-content: start;
    height: 100vh;
  }
  &__block {
    background-image: url('../../assets/login-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
    display: flex;
    align-items: flex-start;
    padding: 10px 0 0 50px;
    width: calc(100% - 410px);
    @media screen and (max-width: 740px) {
      background: white;
      width: 100%;
      padding:10px 0 20px 50px;
      justify-content: start;
    }
  }
  &__search {
    margin-left: 10%;
    margin-top: 20px;
    border-bottom: 1px solid $color;
    width: 60%;
    max-width: 450px;
    @media screen and (max-width: 740px) {
      width: 50%;
      margin-left: 10%;
    }
    & input,
    & input:focus {
      background-color: transparent;
      width: 90%;
      outline: none;
      border: none;
    }
  }
  &__authorization {
    max-width: 410px;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 740px) {
      margin: auto;
      margin-top: 20px;
      //margin-left: 10%;
    }
  }
}
.authorization__welcome {
  color: white;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 40px;
  & a {
    color: $colorLink;
    text-decoration: none;
  }
}
.authorization__form {
  margin-top: 100px;
  width: 100%;
}
.form__block-button {
  display: flex;
  justify-content: space-between;
  & input {
    width: 150px;
    @extend .button;
  }
}
.form__block-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  margin-top: 60px;
  & [type="email"],
  & [type="password"] {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 3px solid white;
    padding-left: 10px;
    &::placeholder {
      color: white;
      font-family: Arial;
      font-size: 14px;
    }
  }
  & [type="button"] {
    @extend .button;
  }
}

