<app-header></app-header>
<main class="main">
  <div class="main__wrap">
    <section class="main__datail">
      <div class="datail__slider">
        <img class="slider__item" src="../../assets/img_slide.jpg" height="500" width="500"/>
        <img class="slider__item" src="../../assets/img_slide.jpg" height="500" width="500"/>
        <div class="slider__arrow">
          <img class="slick-next" src="../../assets/fa-long-arrow-right.png"/>
        </div>
      </div>
      <div class="datail__about">
        <h1 class="about__title">Some title text must be here maybe second  line</h1>
        <strong>from </strong><span class="about__name">Alis Kim </span><span class="about__cost">18000$</span>
        <p class="about__description">Some description text from WYSIWYG editer</p>
        <p >Can be <strong>BOLD</strong> Italic</p>
        <ul class="about__list">Can have list:
          <li>- first</li>
          <li>- second</li>
        </ul>
        <p class="about__anything">And anything from WYSIWYG editor</p>
        <p><strong>Some line</strong></p>
        <p>Some line</p>
        <p><em>Some line</em></p>
        <p class="about__finished">Finished on this line.</p>
      </div>
    </section>
    <section class="main__chat">
      <div class="chat__header">
        <span>Chat</span>
        <span> with </span>
        <span>Alise Kim</span>
        <div class="square"></div>
      </div>
      <div class="chat__wrap">
        <div class="chat__messenger">
          <div class="messenger__messages">
            <div class="messages__message messages__message_guest">
              <div class="message-avatar"><img src="../../assets/alis_kim_28.jpg" height="28" width="28"/></div>
              <p>One line chat message </p>
            </div>
            <div class="messages__message messages__message_master">
              <div class="message-avatar"><img src="../../assets/kim_evans_28.jpg" /></div>
              <p>Multi line chat message. Some  text for multi line message. What is your name. Oh sorry. My bad, your name I think  Alis. Right? Please send me your contacts. May be your facebook page or some think alse. How much cost this t shirt? </p>
            </div>
          </div>
          <div class="messenger__input">
            <input type="text" name="message" placeholder=" Type some text here">
            <a href="#"><img src="../../assets/fa-send.png" height="12" width="12"/></a>
          </div>
        </div>
        <div class="chat__connected">
          <p>Connected</p>
          <div class="connected__user-block">
            <div class="user-block__avatar">
              <img src="../../assets/alis_kim_44.jpg" height="44" width="44"/>
            </div>
            <div class="user-block__name">Alis Kim</div>
          </div>
          <div class="connected__user-block">
            <div class="user-block__avatar">
              <img src="../../assets/kim_evans_44.jpg" height="44" width="44"/>
            </div>
            <div class="user-block__name">Kim Evans</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>
<!--{{include("assets/slick/jquery-3.3.1.min.js")}}-->
<!--{{include("assets/slick/slick.min.js")}}-->
{{include("assets/slick/script.js")}}

