$color: #00b3be;
$colorSecond: #91d763;
@font-face {
  font-family: 'MyriadPro';
  src: url('../../assets/fonts/MyriadPro-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
//.header {
//  height: 150px;
//  display: flex;
//  justify-content: space-between;
//  @media screen and (max-width: 960px) {
//    height: auto;
//  }
//  &__block {
//    display: flex;
//    justify-content: space-between;
//    align-items: flex-end;
//    margin-bottom: 90px;
//    width: 50%;
//    max-width: 760px;
//    padding-left: 50px;
//    @media screen and (max-width: 960px) {
//      flex-direction: column;
//      margin: 10px 0;
//      align-items: flex-start;
//      padding-left: 10px;
//    }
//  }
//  &__search {
//    margin-left: 120px;
//    border-bottom: 1px solid $color;
//    width: 100%;
//    max-width: 450px;
//    @media screen and (max-width: 960px) {
//      width: 200px;
//      margin: 20px 0 10px;
//    }
//    & input,
//    & input:focus {
//      width: 90%;
//      outline: none;
//      border: none;
//    }
//  }
//  &__user-block {
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//    padding-left: 20px;
//    padding-right: 20px;
//    -webkit-box-sizing: border-box;
//    -moz-box-sizing: border-box;
//    box-sizing: border-box;
//    width: 380px;
//    height: 60px;
//    background: $color;
//    @media (max-width: 540px) {
//      width: auto;
//    }
//    @media screen and (max-width: 960px) {
//      margin: 10px;
//    }
//  }
//}
//.user-block__wrap {
//  display: flex;
//  align-items: center;
//  color: white;
//}
//.user-block__avatar {
//  border-radius: 50%;
//  overflow: hidden;
//  width: 44px;
//  height: 44px;
//  margin-right: 10px;
//}
//.user-block__name {
//  @media screen and (max-width: 540px) {
//    display: none;
//  }
//}
.main {
  &__wrap {
    width: 100%;
    margin: 0 auto;
    max-width: 950px;
  }
  &__datail {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 960px) {
      justify-content: space-between;
      flex-direction: row;
    }
  }
  &__chat {
    width: 100%;
  }
}
.datail__slider {
  width: 500px;
  height: 500px;
}
.slick-prev {
  display: none !important;
}
.slick-next {
  right: 10px;
  width: 20px;
  height: 10px;
  position: absolute;
  top: 50%;
  display: none;
  cursor: pointer;
}
.slider__arrow {
  right: 0;
  position: absolute;
  top: 0;
  display: block;
  width: 50px;
  cursor: pointer;
  background: rgba(255,255,255,.0);
  height: 500px;
  &:hover {
    background: rgba(255,255,255,.5);
    & .slick-next {
      display: block;
    }
  }
}
.datail__about {
  max-width: 435px;
  padding-left: 15px;
  font-size: 18px;
}
.about__title {
  font: 32px 'MyriadPro';
  margin-bottom: 25px;
}
.about__name {
  color: $color;
  font-weight: bold;
}
.about__cost {
  font-size: 32px;
  color: $colorSecond;
  padding-left: 10px;
}
.about__description {
  margin: 30px 0 20px;
}
.about__list {
  font-weight: bold;
  margin: 20px 0;
  & li {
    margin-left: 25px;
    list-style-type: none;
  }
}
.about__anything {
  font-weight: bold;
  margin-bottom: 25px;
}
.about__finished {
  margin-top: 25px;
  font-weight: bold;
}
.chat__wrap {
  display: flex;
  padding-bottom: 20px;
  @media screen and (max-width: 960px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.chat__header {
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
  & span:first-of-type  {
    font-size: 30px;
  }
  & span:last-of-type {
    color: $color;
  }
}
.square {
  background-color: $colorSecond;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-bottom: 2px;
}
.chat__messenger {
  width: 100%;
  max-width: 500px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}
.messenger__input {
  width: 100%;
  border-bottom: 1px solid $color;
  margin-top: 15px;
  & input {
    width: 95%;
    border: none;
    &:focus {
      outline: none;
    }
  }
}
.messages__message {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 10px;
  & p {
    display: inline-block;
    max-width: 460px;
    margin: 20px 0;
    padding: 0 10px;
  }
  &_guest p {
    border-right: 5px solid $color;
  }
  &_master {
    flex-direction: row-reverse;
    & p {
      border-left: 5px solid $color;
    }
  }
}
.message-avatar {
  margin: 20px 0;
  width: 28px;
  height: 28px;
  overflow: hidden;
  border-radius: 50%;
}
.connected__user-block {
  align-items: center;
  font-weight: bold;
  margin: 10px;
  display: flex;
  @media (max-width: 960px) {
    display: inline-block;
  }
}
.chat__connected {
  font-weight: bold;
  margin-left: 15px;
  & p {
    font-size: 18px;
  }
  @media (max-width: 960px) {
    margin-top: 20px;
  }
}
